
<main class="l-main">
  <article class="article">
    <header class="article-header">
      <time class="article-title-time">2020.10.22</time>
      <h1 class="article-title">
        デザイナー向け社内勉強会を初開催しました！
      </h1>
      <p class="article-title-type">RECIPE</p>
    </header>
    <img class="article-img">
    <section>
      <h2>初めての勉強会は社内プロジェクト共有会!</h2>
      <h3>勉強会を開催してよかったこと</h3>
    </section>
    <section class="article-avatar">
      <img class="article-avatar-img">画像
      <div class="article-avatar-info">
        <p class="article-avatar-title">この記事を書いた人</p>
        <p class="article-avatar-name">スギタニ</p>
        <p class="article-avatar-description">
          東京生まれ、ninebox3年目のデザイナー。自社サービスのUIデザインを担当。週末は猫カフェに生息しています。
        </p>
      </div>
    </section>
  </article>
</main>